<script>
    // import {keeverrr, rcanton, speedy} from './stores.js';

    import GamerCard from './GamerCard.svelte';

    const players = [
        {gamer_tag: 'rcanton03', platform: 'psn'},
        {gamer_tag: 'keeverrr', platform: 'xbl'},
        {gamer_tag: 'speedyswing7974', platform: 'xbl'},
        {gamer_tag: 'kwiat_nation_8', platform: 'psn'},
        {gamer_tag: 'leaveit2keever', platform: 'psn'},
        {gamer_tag: 'ayerrs', platform: 'psn'},
        {gamer_tag: 'cassassin_10', platform: 'psn'},
        {gamer_tag: 'willeystroker', platform: 'psn'},
        {gamer_tag: 'icebergie', platform: 'psn'},
        {gamer_tag: 'kid-clutch-1523', platform: 'psn'}
    ];

    async function getGamerStats(gamer_tag, platform) {
        const res = await fetch(`https://my.callofduty.com/api/papi-client/stats/cod/v1/title/mw/platform/${platform}/gamer/${gamer_tag}/profile/type/mp`);
        const json = await res.json();

        console.log('%curl: ', 'color:lime', `https://my.callofduty.com/api/papi-client/stats/cod/v1/title/mw/platform/${platform}/gamer/${gamer_tag}/profile/type/mp`);


        if (res.ok) {
            console.log('%cdata: ', 'color:cyan', json);

            return json;
        } else {
            throw new Error(json);
        }
    }
</script>

<main>
    {#each players as {gamer_tag, platform}}
        {#await getGamerStats(gamer_tag, platform)}
            <div class="loading">
                Loading
            </div>
        {:then gamer_stats}
            <GamerCard {gamer_stats}/>
        {:catch error}
            <p style="color: red">{error.message}</p>
        {/await}
    {/each}
</main>

<style>
    main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 20px;
        margin: 20px;
    }

    h1 {
        color: #ff3e00;
        text-transform: uppercase;
        font-size: 4em;
        font-weight: 100;
    }

    h2.platform {
        display: inline;
    }

    div.loading {
        position: fixed;
        width: 100vw;
        /*height: 100%;*/
        height: 100vh;
        top: 0;
        left: 0;
        background: black;
        z-index: inherit;
        color: #1e9ffd;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 125px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px;
        text-align: center;
        font-family: "Montserrat", Verdana, Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 600;
    }

    div.loading:before {
        content: "";
        position: absolute;
        border: 4px solid #1e9ffd;
        opacity: 1;
        border-radius: 50%;
        animation: loader-ripple 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    div.loading:after {
        content: "";
        position: absolute;
        border: 4px solid #1e9ffd;
        opacity: 1;
        border-radius: 50%;
        animation: loader-ripple 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        animation-delay: -1s;
    }

    @media (min-width: 640px) {
        main {
            max-width: none;
        }
    }
</style>