<script>
    export let gamer_stats;
    let data = gamer_stats.data;
    let lifetime = data.lifetime;
    let weekly = data.weekly;
    // console.log(data);
    let timeInSec = lifetime.all.properties.timePlayedTotal;
    let days = timeInSec / 86400 >= 1 ? Math.floor(timeInSec / 86400) + 'd ' : '';
    let hours = (timeInSec % 86400) / 3600 >= 1 ? Math.floor((timeInSec % 86400) / 3600) + 'h ' : '';
    let minutes = (timeInSec % 86400 % 3600) / 60 >= 1 ? Math.floor((timeInSec % 86400 % 3600) / 60) + 'm ' : '';
</script>

<div class="container">
    <h1>GamerTag: <span class="gamertag_name">{data.username}</span></h1>
    {#if data.platform === 'xbl'}
        <h2 class="platform"><span class="stat_label">Platform: </span></h2>
        <img src="/xbox.png"  alt="xbox"/>
    {:else if data.platform === 'psn'}
        <h2 class="platform"><span class="stat_label">Platform: </span></h2>
        <img src="/playstation.png"  alt="ps4"/>
    {/if}
    <h2><span class="stat_label">Level: </span>{data.level}</h2>
    <h2><span class="stat_label">Kills: </span>{lifetime.all.properties.kills}</h2>
    <h2><span class="stat_label">Deaths: </span>{lifetime.all.properties.deaths}</h2>
    <h2><span class="stat_label">Assists: </span>{lifetime.all.properties.assists}</h2>
    <h2><span class="stat_label">Headshots: </span>{lifetime.all.properties.headshots}</h2>
    <h2><span class="stat_label">Suicides: </span>{lifetime.all.properties.suicides}</h2>
    <h2><span class="stat_label">Best Killstreak: </span>{lifetime.all.properties.bestKillStreak}</h2>
    <h2><span class="stat_label">Most Kills (single match): </span>{lifetime.all.properties.recordKillsInAMatch}</h2>
    <h2><span class="stat_label">Most Deaths (single match): </span>{lifetime.all.properties.recordDeathsInAMatch}</h2>
    <h2><span class="stat_label">K/D Ratio: </span>{Math.round(lifetime.all.properties.kdRatio * 100) / 100}</h2>
    <h2><span class="stat_label">Wins: </span>{lifetime.all.properties.wins}</h2>
    <h2><span class="stat_label">Losses: </span>{lifetime.all.properties.losses}</h2>
    <h2><span class="stat_label">Ties: </span>{lifetime.all.properties.ties}</h2>
    <h2><span class="stat_label">Current Win Streak: </span>{lifetime.all.properties.currentWinStreak}</h2>
    <h2><span class="stat_label">Longest Win Streak: </span>{lifetime.all.properties.recordLongestWinStreak}</h2>
    <h2><span class="stat_label">Games Played: </span>{lifetime.all.properties.totalGamesPlayed}</h2>
    <h2><span class="stat_label">W/L Ratio: </span>{Math.round(lifetime.all.properties.winLossRatio * 100) / 100}</h2>
    <h2><span class="stat_label">Score: </span>{lifetime.all.properties.score}</h2>
    <h2><span class="stat_label">Time Played: </span>{days + hours + minutes}</h2>
</div>

<style>
    main {
        text-align: center;
        padding: 1em;
        max-width: 240px;
        margin: 0 auto;
        height: 100%;
    }

    div.container {
        /*display: grid;*/
        /*grid-template-columns: 400px 400px 400px;*/
    }

    span.stat_label {
        font-weight: 100;
        color: #aaa;
    }

    h1 {
        color: var(--yellow);
        text-transform: uppercase;
        font-size: 2.5em;
        font-weight: 100;
        min-height: 96px;
    }

    span.gamertag_name {
        display: block;
    }

    h2 {
        font-size: 1.3em;
    }

    h2.platform {
        display: inline;
    }

    img {
        max-height: 50px;
        display: inline;
    }
</style>
